fastapi==0.115.12
uvicorn==0.34.3
gunicorn==23.0.0
websockets==15.0.1
python-multipart==0.0.20


google-cloud-speech==2.33.0
google-cloud-texttospeech==2.27.0
google-generativeai==0.8.5
numpy==2.3.0